<html>
  <head>
    <meta charset='utf-8' />

    <%= html.css_entrypoint_tag(:app) %>
    <%= html.js_entrypoint_tag(:app) %>
  </head>
  <body>
    <img src='/public/images/roda-project.png' />
    <br>
    <%= html.navbar %>

    <%= yield %>
  </body>
</html>
